@page "/diary"
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json
@inject IHttpClientFactory ClientFactory
<PageTitle>Diary</PageTitle>
<h1>
    <Icon Type="bulb" Theme="outline"/>Diary
</h1>